/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #333; /* Space around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Thumb hover color */
  }
  