@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply to the whole document */
body {
    font-family: 'Open Sans', sans-serif; /* Example default font */
  }
  
  /* Apply specific fonts to different elements */
  .bebas-font {
    font-family: 'Bebas Neue', cursive;
  }
  
  .coming-soon-font {
    font-family: 'Coming Soon', cursive;
  }
  
  .playfair-font {
    font-family: 'Playfair Display', serif;
  }

  
 /* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
